.footer{
  border-top: 0.25rem solid #75a442;
  padding-top: 1.2rem;

  p{
      color: #fff;
      text-align: center;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1.2;
  }
}