<header class="header">
    <div class="row">
        <div class="small-12 columns">
            <div class="header-logo">
                <a href="{{root}}/" title="Ridge Valley Home Inspections"><img src="{{root}}/assets/img/ridge-valley/ridge-valley-home-inspections-logo-nav.png" alt="Ridge Valley Home Inspections" /></a>
            </div>
            
            <nav class="navigation hide-for-small show-for-large">
                <ul>
                    <li><a href="{{root}}contact.html" title="Contact Us">Contact</a></li>
                    <li><a href="{{root}}frequently-asked-questions.html" title="View Answers to our Most Frequently Asked Questions">F.A.Q.</a></li>
                    <li><a href="{{root}}thermal-imaging.html" title="About Thermal Imaging">Thermal&nbsp;Imaging</a></li>
                    <li><a href="{{root}}services.html" title="Our Services">Services</a></li>
                    <li><a href="{{root}}document-library.html" title="View our Document Library">Document&nbsp;Library</a></li>
                </ul>
            </nav>

            <button id="nav-icon" type="button" class="button hide-for-large" data-toggle="offCanvas">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>