<header class="header">
    <div class="row">
        <div class="small-12 columns">
            <div class="header-logo">
                <a href="{{root}}/" title="Ridge Valley Home Inspections"><img src="/assets/img/ridge-valley-home-inspections-logo-header" alt="Ridge Valley Home Inspections"/></a>
            </div>
            
            <nav class="navigation">
                <ul>
                    <li><a href="{{root}}frequently-asked-questions.html" title="View Answers to our Most Frequently Asked Questions">F.A.Q.</a></li>
                    <li><a href="{{root}}contact.html" title="Contact Us">Conact</a></li>
                    <li><a href="{{root}}thermal-imaging.html" title="About Thermal Imaging">Thermal&nbsp;Imaging</a></li>
                    <li><a href="{{root}}services.html" title="Our Services">Services</a></li>
                    <li><a href="{{root}}document-library.html" title="View our Document Library">Document&nbsp;Library</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>