<div class="header">
    <div class="row">
        <div class="small-12 columns">
            <div class="header-logo">
                <a href="{{root}}/" title="Ridge Valley Home Inspections"><img src="/assets/img/ridge-valley-home-inspections-logo-header" alt="Ridge Valley Home Inspections"/></a>
            </div>
            
            <div class="navigation">
                <ul>
                    <li><a href="/faq.html" title="View Answers to our Most Frequently Asked Questions">F.A.Q.</a></li>
                    <li><a href="/contact.html" title="Contact Us">Conact</a></li>
                    <li><a href="/thermal-imaging.html" title="About Thermal Imaging">Thermal Imaging</a></li>
                    <li><a href="/services.html" title="Our Services">Services</a></li>
                    <li><a href="/document-library.html" title="View our Document Library">Document Library</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>