<div class="introduction row">
    <div class="small-12 columns">
        <img src="{{root}}/assets/img/ridge-valley/ridge-valley-home-inspections-logo.jpg" alt="Ridge Valley Home Inspections" />
        <h2>Get to Know your&nbsp;Home</h2>
    </div>
    <div class="contact-info">
        <h3><a href="tel:226-929-0965" title="Call Jamie Ruth RHI">226-929-0965</a></h3>
        <h3><a href="mailto:jruth@ridgevalley.ca" title="Email Jamie Ruth RHI">jruth@ridgevalley.ca</a></h3>
    </div>
</div>

<div class="row">
  <div class="top-hr hr small-12 columns">
      <hr>
  </div>
</div>